
<form asp-action="ForgotPassword" method="post">
    <label for="email">Email adresi giriniz</label>
    <input name="email" id="email" type="email" class="form-control">
    <button type="submit" class="btn btn-dark mt-3">Gönder</button>
</form>