@model ResetPasswordViewModel

<form asp-action="ResetPassword" method="post">
   <div class="form-group">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" value="@Model.token" asp-for="token">
   </div> 
   <div class="form-group mt-3">
    <label asp-for="password">Parola</label>
    <input type="password" class="form-control" asp-for="password">
   </div>
   
   <div class="form-group mt-3">
    <label asp-for="confirm_password">Parola Tekrarı</label>
    <input type="password" class="form-control" asp-for="confirm_password">
   </div>
   <button type="submit" class="btn btn-dark mt-3">Kaydet</button>
</form>